@CHARSET "UTF-8";

@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body{
	background: #f3f2f3;
	color: #000000;
	font-family: Trebuchet MS, Arial, Times New Roman;
	font-size: 12px;
}

#container{
	background: url("images/background.png");
	width: 1125px;
	height: 750px;
    margin: auto;
}

#header{
	height: 75px;
	width: 1125px;
	margin: 2px auto;
}

#divPlugin{
	background: #d2d0d2;
	width: 750px;
	height: 450px;
    float: left;
}

#informationContainer{
	background: #eee;
	height: 120px;
	width: 1125px;
	margin: 0;
    padding: 0;
}

.menu{
	text-decoration: none;
	text-align: center;
	padding: 6px 10px; 
	border: solid 1px #004F72; 
  	font: 19px Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	color: #E5FFFF; 
	background-color: #0d0f0f; 
	background-image: -moz-linear-gradient(top, #0d0f0f 0%, #647a82 100%); 
	background-image: -webkit-linear-gradient(top, #0d0f0f 0%, #647a82 100%); 
	background-image: -o-linear-gradient(top, #0d0f0f 0%, #647a82 100%); 
	background-image: -ms-linear-gradient(top, #0d0f0f 0% ,#647a82 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#647a82', endColorstr='#647a82',GradientType=0 ); 
	background-image: linear-gradient(top, #0d0f0f 0% ,#647a82 100%);   
	-webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
	-webkit-transition: background 0s ease-in;
	-moz-transition:  background 0s ease-in;
	-o-transition:  background 0s ease-in;
	transition:  background 0s ease-in;
}
 
 .menu:hover{
	padding: 6px 10px; 
	border: solid 1px #004F72; 
	font: 19px Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	color: #E5FFFF; 
	background-color: #595e5e; 
	background-image: -moz-linear-gradient(top, #595e5e 0%, #b3bec2 100%); 
	background-image: -webkit-linear-gradient(top, #595e5e 0%, #b3bec2 100%); 
	background-image: -o-linear-gradient(top, #595e5e 0%, #b3bec2 100%); 
	background-image: -ms-linear-gradient(top, #595e5e 0% ,#b3bec2 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3bec2', endColorstr='#b3bec2',GradientType=0 ); 
	background-image: linear-gradient(top, #595e5e 0% ,#b3bec2 100%);   
	-webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.menu:active{
	padding: 6px 10px; 
	border:solid 1px #004F72; 
	font:19px Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#E5FFFF; 
	background-color:#0d0f0f; 
	background-image: -moz-linear-gradient(top, #0d0f0f 0%, #647a82 100%); 
	background-image: -webkit-linear-gradient(top, #0d0f0f 0%, #647a82 100%); 
	background-image: -o-linear-gradient(top, #0d0f0f 0%, #647a82 100%); 
	background-image: -ms-linear-gradient(top, #0d0f0f 0% ,#647a82 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#647a82', endColorstr='#647a82',GradientType=0 ); 
	background-image: linear-gradient(top, #0d0f0f 0% ,#647a82 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;    
}

.operate{
	width:561px;
	margin-top: 0;
	border:1px solid #7F9DB9;
    float: left;
}

.operate .opinfo{
	height:100px;
	border:1px solid #7F9DB9;
	overflow:auto;
}

.callback{
	width:560px;
	margin: 0;
	border:1px solid #7F9DB9;
    border-left: 0;
    float: right;
}

.callback .cbinfo{
	height:100px;
	border:1px solid #7F9DB9;
    border-left: 0;
	overflow:auto;
}

#navigation{
    height: 40px;
    width: 375px;
}

#tabs{
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
 
#tabs li{
    margin: 0;
    padding: 0;
    float: left;
    width: 93px;
}
 
#tabs a{
    -moz-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    background: #4C5866;
    background:    -moz-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
    background:     -ms-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
    background:      -o-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
    background:         linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: #fff;
    float: left;
    text-align: center;
    font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
    height: 40px;
    width: 100%;
    text-decoration: none;
}
 
#tabs a:hover{
    background: #341C19;
    background:    -moz-linear-gradient(220deg, transparent 10px, #c93434 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #c93434 10px);
    background:     -ms-linear-gradient(220deg, transparent 10px, #c93434 10px);
    background:      -o-linear-gradient(220deg, transparent 10px, #c93434 10px);
    background:         linear-gradient(220deg, transparent 10px, #c93434 10px);
}
 
#tabs a:focus{
    outline: 0;
}
 
#tabs #current a{
    background: #CDCBCB;
    background:    -moz-linear-gradient(220deg, transparent 10px, #fff 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #fff 10px);
    background:     -ms-linear-gradient(220deg, transparent 10px, #fff 10px);
    background:      -o-linear-gradient(220deg, transparent 10px, #fff 10px);
    background:         linear-gradient(220deg, transparent 10px, #fff 10px);
    text-shadow: none;
    color: #333;
}
 
#content{
    background-color: #A9ADAA;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fff, #ddd);
    background-image:    -moz-linear-gradient(top, #fff, #ddd);
    background-image:     -ms-linear-gradient(top, #fff, #ddd);
    background-image:      -o-linear-gradient(top, #fff, #ddd);
    background-image:         linear-gradient(top, #fff, #ddd);
    -moz-border-radius: 0 2px 2px 2px;
    -webkit-border-radius: 0 2px 2px 2px;
    border-radius: 0 2px 2px 2px;
    -moz-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    -webkit-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    height: 410px;
}
 
#content div{
    height: 410px;
}