@CHARSET "UTF-8";

@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body{
	background: #f3f2f3;
	color: #000000;
	font-family: Trebuchet MS, Arial, Times New Roman;
	font-size: 12px;
}

#container{
	background: url("images/background.png");
	width: 1125px;
	height: 750px;
    margin: auto;
}

#header{
	height: 75px;
	width: 1122px;
	margin: 2px auto;
}

#divPlugin{
	background: #d2d0d2;
	width: 750px;
	height: 450px;
    float: left;
}

#informationContainer{
	background: #eee;
	height: 120px;
	width: 1125px;
	margin: 0;
    padding: 0;
}

.operate{
	width:1110px;
	margin-top: 0;
	border:1px solid #7F9DB9;
    float: left;
}

.operate .opinfo{
	height:100px;
	border:1px solid #7F9DB9;
	overflow:auto;
}

.callback{
	width:1110px;
	margin: 0;
	border:1px solid #7F9DB9;
    float: left;
}

.callback .cbinfo{
	height:100px;
	border:1px solid #7F9DB9;
	overflow:auto;
}

#navigation{
    height: 40px;
    width: 375px;
    background: #fff;
    float: right;
}

#tabs{
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
 
#tabs li{
    margin: 0;
    padding: 0;
    float: left;
    width: 93px;
}
 
#tabs a{
    -moz-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    background: #4C5866;
    background:    -moz-linear-gradient(220deg, transparent 10px, ##4C5866 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #4C5866 10px);
    background:     -ms-linear-gradient(220deg, transparent 10px, #4C5866 10px);
    background:      -o-linear-gradient(220deg, transparent 10px, #4C5866 10px);
    background:         linear-gradient(220deg, transparent 10px, #4C5866 10px);
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: #fff;
    float: left;
    text-align: center;
    font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
    height: 40px;
    width: 100%;
    text-decoration: none;
}
 
#tabs a:hover{
    background: #341C19;
    background:    -moz-linear-gradient(220deg, transparent 10px, #341C19 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #341C19 10px);
    background:     -ms-linear-gradient(220deg, transparent 10px, #341C19 10px);
    background:      -o-linear-gradient(220deg, transparent 10px, #341C19 10px);
    background:         linear-gradient(220deg, transparent 10px, #341C19 10px);
}
 
#tabs a:focus{
    outline: 0;
}
 
#tabs #current a{
    background: #CDCBCB;
    background:    -moz-linear-gradient(220deg, transparent 10px, #CDCBCB 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #CDCBCB 10px);
    background:     -ms-linear-gradient(220deg, transparent 10px, #CDCBCB 10px);
    background:      -o-linear-gradient(220deg, transparent 10px, #CDCBCB 10px);
    background:         linear-gradient(220deg, transparent 10px, #CDCBCB 10px);
    text-shadow: none;
    color: #333;
}
 
#content{
    background-color: #404040;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fff, #ddd);
    background-image:    -moz-linear-gradient(top, #fff, #ddd);
    background-image:     -ms-linear-gradient(top, #fff, #ddd);
    background-image:      -o-linear-gradient(top, #fff, #ddd);
    background-image:         linear-gradient(top, #fff, #ddd);
    -moz-border-radius: 0 2px 2px 2px;
    -webkit-border-radius: 0 2px 2px 2px;
    border-radius: 0 2px 2px 2px;
    -moz-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    -webkit-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    height: 410px;
    width: 372px;
    float: right;
}

input, label{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #341C19;
    text-shadow: 1px 1px 1px #341C19;
}

input[type=text], input[type=password], .sel, .btn{
    width: 200px;
    height: 30px;
    color: #341C19;
    text-shadow: 1px 1px 1px #341C19;
    background: rgba(0, 0, 0, 0.16);
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}

input[type=text]:focus, input[type=password]:focus {
  color: dimgray;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}

.sel2{
    height: 30px;
    color: #341C19;
    text-shadow: 1px 1px 1px #341C19;
    background: rgba(0, 0, 0, 0.16);
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}

a{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #341C19;
    text-shadow: 1px 1px 1px #341C19;
}

label{
  float: left;
  width: 120px;
  line-height: 40px;
  padding-right: 10px;
  font-weight: 100;
  text-align: right;
  letter-spacing: 1px;
}

.btn{
    height: 30px;
    width: 100px;
    text-decoration:none;
    text-align:center;  
    border:solid 1px #004F72; 
    -webkit-border-radius:8px;
    -moz-border-radius:8px; 
    border-radius: 8px; 
    font:14px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#ffffff; 
    background-color:#cacbcc; 
    background-image: -moz-linear-gradient(top, #cacbcc 0%, #6d777a 100%); 
    background-image: -webkit-linear-gradient(top, #cacbcc 0%, #6d777a 100%); 
    background-image: -o-linear-gradient(top, #cacbcc 0%, #6d777a 100%); 
    background-image: -ms-linear-gradient(top, #cacbcc 0% ,#6d777a 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d777a', endColorstr='#6d777a',GradientType=0 ); 
    background-image: linear-gradient(top, #cacbcc 0% ,#6d777a 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #c49f9f; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #c49f9f;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #c49f9f;  
    -webkit-transition: with 0s ease;
    -moz-transition:  with 0s ease;
    -o-transition:  with 0s ease;
    transition:  with 0s ease;
}

.btn:hover{ 
     border:solid 1px #004F72; 
     -webkit-border-radius:8px;
     -moz-border-radius:8px; 
     border-radius: 8px; 
     font:14px Arial, Helvetica, sans-serif; 
     font-weight:bold; 
     color:#ffffff; 
     background-color:#a0c4e8; 
     background-image: -moz-linear-gradient(top, #a0c4e8 0%, #3d6470 100%); 
     background-image: -webkit-linear-gradient(top, #a0c4e8 0%, #3d6470 100%); 
     background-image: -o-linear-gradient(top, #a0c4e8 0%, #3d6470 100%); 
     background-image: -ms-linear-gradient(top, #a0c4e8 0% ,#3d6470 100%); 
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d6470', endColorstr='#3d6470',GradientType=0 ); 
     background-image: linear-gradient(top, #a0c4e8 0% ,#3d6470 100%);   
     -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #c49f9f; 
     -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #c49f9f;  
     box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #c49f9f;  
 }